@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap');

:root {
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
}



body {
    width: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

#rules {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.308);
}

#rules-box {
    padding: 5px 30px 30px 30px;
    margin: 170px auto;
    width: 340px;
    background-color: rgb(228, 228, 228);
    color: var(--dark-text);
    border-radius: 7px;

    #close {
        position: relative;
        
        bottom: 300px;
        left: 320px;
        cursor: pointer;
    }
}

#rules-button {
    margin: 20px auto 25px auto;
    width: 140px;
    border: 1px solid white;
    color: white;
    font-size: 0.7em;
    text-align: center;
    border-radius: 7px;
    
    h1 {
        margin: 8px;
    }
}

#rules-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.13);
}

#score-box {
    margin: 20px auto;
    width: 90%;
    display: flex;
    border: 2px solid var(--header-outline);
    border-radius: 7px;

    .left {
        width: 70%;
        padding: 20px;
        padding-top: 30px;
        font-size: 2em;
        color: white;
        font-weight: 700;
        line-height: 25px;
    }

    .right {
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        padding: 0px;
        margin: 20px;
        text-align: center;
        border-radius: 7px;

        h2 {
            color: var(--score-text);
            margin: 10px 0;
        }

        #score-count {
            margin: 0;
            color: var(--dark-text);
        }
    }
}

.game {
    width: 400px;
    height: 400px;
    margin: 90px auto;
    margin-bottom: 0;

    #tri {
        margin: 0;
        padding: 40px;
    }
}

#paper, #scissors, #rock {
    width: 110px;
    height: 110px;
    border-radius: 80px;
    background-color: #fff;
    box-shadow: 0 2px 1px black;

    img {
        margin: 0;
        padding: 30px;
    }
}

#paper {
    border: 20px solid hsl(230, 89%, 62%);
    position: relative;
    bottom: 380px;
}

#paper:hover {
    background-color: rgb(53, 208, 255);
    cursor: pointer;
}

#scissors {
    border: 20px solid hsl(39, 89%, 49%);
    position: relative;
    bottom: 530px;
    left: 250px;
}

#scissors:hover {
    background-color: rgb(255, 235, 53);
    cursor: pointer;
}

#rock {
    border: 20px solid hsl(349, 71%, 52%);
    position: relative;
    bottom: 460px;
    left: 125px;
}

#rock:hover {
    background-color: rgb(230, 121, 121);
    cursor: pointer;
}

.game-state {
    margin: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  
  .left1 {
    width: 10%;
    margin: 5% 15% 5% 0;
    padding: 20px 0;
  }
  
  .right1 {
    width: 10%;
    margin: 5% 0 5% 5%;
    padding: 20px 20px;
  }
  
  .center {
    width: 20%;
    margin: 0;
    margin-top: 200px ;
    text-align: center;
    color: white;

    h1 {
        width: 200px;
        margin: 0 auto;
    }

    button {
        margin: 20px 20px 20px 0;
    }
  }
  
  .left-img {
    height: 110px;
    width: 110px;
    border-radius: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px black;
    box-shadow: 0 2px 1px black;
  }
  
  .center button {
    width: 180px;
    padding: 18px;
    text-align: center;
    background: white;
    border: none;
    border-radius: 5px;
    color: #dc2e4e;
    font-weight: 600;
    word-spacing: 5px;
    cursor: pointer;
  }
  
  .center button:focus {
      outline: none;
  }

  .right-img {
    height: 110px;
    width: 110px;
    border-radius: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px black;
    box-shadow: 0 2px 1px black;
  }
  
  .left-img img, .right-img img {
    margin: 0;
    padding: 30px;
  }
  
  .attribution{
     margin-bottom: 2%;
     width: 100%;
     color: white;
     text-align: center;
  }
  
@media (max-width: 768px) {
    body {
        background: radial-gradient(#1f3756, #141539);
        margin: 2%;
        width: 96%;
        padding: 1%;
    }
}

@media only (min-width: 768px) {
    .left1 {
        width: 15%;
        margin: 5%;
        padding-left: 10%;
    }

    .right1 {
        width: 20%;
        margin: 5%;
    }

    .center {
        width: 20%;
        margin: 5%;
        text-align: center;
        color: white;
      }
}

