@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap');

:root {
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

#rules {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.308);
}

#rules-box {
    padding: 5px 30px 30px 30px;
    margin: 170px auto;
    width: 340px;
    background-color: rgb(228, 228, 228);
    color: var(--dark-text);
    border-radius: 7px;

    #close {
        position: relative;
        bottom: 300px;
        left: 320px;
        cursor: pointer;
    }
}

#rules-button {
    margin: 0 auto;
    width: 100px;
    border: 1px solid white;
    color: white;
    font-size: 0.7em;
    text-align: center;
    border-radius: 7px;
}

#rules-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.13);
}

#score-box {
    margin: 20px auto;
    width: 90%;
    display: flex;
    border: 2px solid var(--header-outline);
    border-radius: 7px;

    .left {
        width: 70%;
        padding: 20px;
        padding-top: 30px;
        font-size: 2em;
        color: white;
        font-weight: 700;
        line-height: 25px;
    }

    .right {
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        padding: 0px;
        margin: 20px;
        text-align: center;
        border-radius: 7px;

        h2 {
            color: var(--score-text);
            margin: 10px 0;
        }

        #score-count {
            margin: 0;
            color: var(--dark-text);
        }
    }
}

.game {
    
    width: 400px;
    margin: 90px auto;

    #tri {
        margin: 0;
        padding: 40px;
    }
}